<div class="card mb-3">
  <img src="..." class="card-img-top" alt="university_logo">
   <% @favorites.each do |f| %>
  <div class="card-body">
    <h5 class="card-title"><%= favorite.name %></h5>
    <p class="card-text"><%= university.country %></p>
    <p class="card-text"><%= university.description %></p>
  </div>
</div>
<div class="card">
  <% @favorites.each do |f| %>
  <h5 class="card-title"><%= favorite.name %></h5>
  <p class="card-text"><%= university.country %></p>
  <p class="card-text"><%= university.description %></p>
  </div>
  <img src="..." class="card-img-bottom" alt="...">
</div>
