<div class="row">
  <% educations.each do |education| %>
    <div class="d-flex my-2">
      <%= image_tag("logo.png", class: "uni-card-image") %>
      <div class="ms-3">
        <p class="mb-0"><strong><%= education.university.name %></strong></p>
        <div class="card-info-light">
          <p class="mb-0 text-small"><%= education.academic_degree %>, <%= education.course %></p>
          <p class="text-small"><%= education.start_date.strftime("%h %Y") %> - <%= education.end_date.strftime("%h %Y") %></p>
        </div>

      </div>
    </div>




  <% end %>
</div>
