
<div class="banner">
  <header class="header">
    <img src="https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y2FtcHVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="" class="image">
    <div class="banner-sizing "></div>
    <div class="banner-content">
      <h1>U-Review</h1>
      <p><span data-controller="typed-js"></span></p>
      <div class="mt-4 home-form d-flex" data-controller="autocomplete">
        <div style="width:100%; position:relative;">
          <input data-autocomplete-target="input" search-url=<%= home_search_path %> data-action="keyup->autocomplete#update focus->autocomplete#update blur->autocomplete#clear" class="form-control" placeholder="Enter University name or Country" type="text" name="query" id="query" style="height:50px;">
          <div data-autocomplete-target="list" style="z-index: 1; position:absolute; top:38; left:0; width:100%;">

          </div>
        </div>
        <button data-action="click->autocomplete#filterUni" class="animated-border-button">Search</button>
      </div>
    </div>
  </header>
</div>

<div class="container">
  <div class="row justify-content-center">

    <div class="col-lg-10 col-md-11 col-sm-12 mt-5 mb-5">
      <div class="card home-card">
        <div class="row">
          <div class="col-lg-7 col-md-6 col-sm-12">
            <img src="https://u-paris.fr/wp-content/uploads/2020/12/2017-NUS-Signage-1-1.jpg" alt="" class="home-img">
          </div>
          <div class="col-lg-5 col-md-6 col-sm-6 text-align-center home-info" style="padding: 1.5rem; margin: auto;">
            <h2><%= link_to "Universities in Singapore", universities_path(:country=>"Singapore"), class:"home-link"%></h2>
            <p>Singapore’s universities and colleges rank as the best in Asia, and among top 20 in the world. Find out more about universities in Singapore.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-10 col-md-11 col-sm-12 mb-5">
      <div class="card home-card">
        <div class="row justify-content-end" >
          <div class="col-lg-5 col-md-6 col-sm-6 home-info" style="padding: 1.5rem; margin: auto;">
            <h2><%= link_to "Universities in Austrialia", universities_path(:country=>"Australia"), class:"home-link"%></h2>
            <p>Australia has 37 government-funded universities and three private universities, as well as a number of other specialist institutions that provide approved courses at the higher education level. Learn more about Austrialian Universities.</p>
          </div>
          <div class="col-lg-7 col-md-6 col-sm-12">
            <img src="https://www.anao.gov.au/sites/default/files/anao_report/image/anu-governance-control-frameworks-anao.jpg" alt="" class="home-img">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-10 col-md-11 col-sm-12 mb-5">
      <div class="card home-card">
        <div class="row">
          <div class="col-lg-7 col-md-6 col-sm-12">
            <img src="https://theacademicinsights.com/wp-content/uploads/2020/07/imej_5ccfe917a8b765ccfef83b7420-740x357.jpg" alt="" class="home-img">
          </div>
          <div class="col-lg-5 col-md-6 col-sm-6 text-align-center home-info" style="padding: 1.5rem; margin: auto;">
            <h2><%= link_to "Universities in Malaysia", universities_path(:country=>"Malaysia"), class:"home-link" %></h2>
            <p>Malaysia as you know it, is home to one of the most affordable student cities in the world. This is why the number of international students in Malaysia are growing tremenduously.</p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="text-center mt-4 mb-5">Student Reviews</h2>
    <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-bs-ride="carousel" style="height: 500px;">
      <!-- Controls -->
      <div class="d-flex justify-content-center mb-4">
        <button class="carousel-control-prev" type="button"
          data-bs-target="#carouselMultiItemExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
          data-bs-target="#carouselMultiItemExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Inner -->
      <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <%= image_tag(user_avatar(@first_review.user), class: "rounded-circle mb-4 avatar-bordered") %>
                <h5 class="mb-3"><%= @first_review.user.first_name %> <%= @first_review.user.last_name %></h5>
                <p class="text-secondary">Student at <strong><%= @first_review.university.name %></strong></p>
                <p class="text-muted">
                  <div class="review-bottom">
                    <i class="fas fa-quote-left pe-2"></i>
                    <%= @first_review.comment%>
                  </div>
                </p>
                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                  <% @average_rating = (@first_review.reputabilty_rating + @first_review.education_quality_rating + @first_review.campus_facilities_accom_rating + @first_review.course_difficulty_rating + @first_review.social_element_rating + @first_review.value_for_money_rating + @first_review.safety_rating + @first_review.career_services_rating) / 8.0 %>
                  <%= render "universities/star", average_rating: @average_rating %>
                </ul>
              </div>

              <div class="col-lg-4 d-none d-lg-block">
                <%= image_tag(user_avatar(@third_review.user), class: "rounded-circle mb-4 avatar-bordered") %>
                <h5 class="mb-3"><%= @third_review.user.first_name %> <%= @third_review.user.last_name %></h5>
                <p class="text-secondary">Student at <strong><%= @third_review.university.name %></strong></p>
                <p class="text-muted">
                  <div class="review-bottom">
                    <i class="fas fa-quote-left pe-2"></i>
                    <%= @third_review.comment %>
                  </div>
                </p>
                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                  <% @average_rating = (@third_review.reputabilty_rating + @third_review.education_quality_rating + @third_review.campus_facilities_accom_rating + @third_review.course_difficulty_rating + @third_review.social_element_rating + @third_review.value_for_money_rating + @third_review.safety_rating + @third_review.career_services_rating) / 8.0 %>
                  <%= render "universities/star", average_rating: @average_rating %>
                </ul>
              </div>

              <div class="col-lg-4 d-none d-lg-block">
                <%= image_tag(user_avatar(@last_review.user), class: "rounded-circle mb-4 avatar-bordered") %>
                <h5 class="mb-3"><%= @last_review.user.first_name %> <%= @last_review.user.last_name %></h5>
                <p class="text-secondary">Student at <strong><%= @last_review.university.name %></strong></p>
                <p class="text-muted">
                  <div class="review-bottom">
                    <i class="fas fa-quote-left pe-2"></i>
                    <%= @last_review.comment %>
                  </div>
                </p>
                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                  <% @average_rating = (@last_review.reputabilty_rating + @last_review.education_quality_rating + @last_review.campus_facilities_accom_rating + @last_review.course_difficulty_rating + @last_review.social_element_rating + @last_review.value_for_money_rating + @last_review.safety_rating + @last_review.career_services_rating) / 8.0 %>
                  <%= render "universities/star", average_rating: @average_rating %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <%= image_tag(user_avatar(@second_review.user), class: "rounded-circle mb-4 avatar-bordered") %>
                <h5 class="mb-3">John <%= @second_review.user.last_name %></h5>
                <p class="text-secondary">Student at <strong><%= @second_review.university.name %></strong></p>
                <p class="text-muted">
                  <div class="review-bottom">
                    <i class="fas fa-quote-left pe-2"></i>
                    <%= @second_review.comment %>
                  </div>
                </p>
                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                  <% @average_rating = (@second_review.reputabilty_rating + @second_review.education_quality_rating + @second_review.campus_facilities_accom_rating + @second_review.course_difficulty_rating + @second_review.social_element_rating + @second_review.value_for_money_rating + @second_review.safety_rating + @second_review.career_services_rating) / 8.0 %>
                  <%= render "universities/star", average_rating: @average_rating %>
                </ul>
              </div>

              <div class="col-lg-4 d-none d-lg-block">
                <%= image_tag(user_avatar(@fourth_review.user), class: "rounded-circle mb-4 avatar-bordered") %>
                <h5 class="mb-3">Zac <%= @fourth_review.user.last_name %></h5>
                <p class="text-secondary">Student at <strong><%= @fourth_review.university.name %></strong></p>
                <p class="text-muted">
                  <div class="review-bottom">
                    <i class="fas fa-quote-left pe-2"></i>
                    <%= @fourth_review.comment %>
                  </div>
                </p>
                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                  <% @average_rating = (@fourth_review.reputabilty_rating + @fourth_review.education_quality_rating + @fourth_review.campus_facilities_accom_rating + @fourth_review.course_difficulty_rating + @fourth_review.social_element_rating + @fourth_review.value_for_money_rating + @fourth_review.safety_rating + @fourth_review.career_services_rating) / 8.0 %>
                  <%= render "universities/star", average_rating: @average_rating %>
                </ul>
              </div>

              <div class="col-lg-4 d-none d-lg-block">
                <%= image_tag(user_avatar(@fifth_review.user), class: "rounded-circle mb-4 avatar-bordered") %>
                <h5 class="mb-3"><%= @fifth_review.user.first_name %> <%= @fifth_review.user.last_name %></h5>
                <p class="text-secondary">Student at <strong><%= @fifth_review.university.name %></strong></p>
                <p class="text-muted">
                  <div class="review-bottom">
                    <i class="fas fa-quote-left pe-2"></i>
                    <%= @fifth_review.comment %>
                  </div>
                </p>
                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                  <% @average_rating = (@fifth_review.reputabilty_rating + @fifth_review.education_quality_rating + @fifth_review.campus_facilities_accom_rating + @fifth_review.course_difficulty_rating + @fifth_review.social_element_rating + @fifth_review.value_for_money_rating + @fifth_review.safety_rating + @fifth_review.career_services_rating) / 8.0 %>
                  <%= render "universities/star", average_rating: @average_rating %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Inner -->
    </div>
    <!-- Carousel wrapper -->

  </div>
</div>

<div class="footer">
  <div class="footer-content text-white">
    <h5><strong>Uni-Review</strong></h5>
    <p>
      ABCD Building<br>
      Singapore 123 456<br>
      📞 +65 8765 4321
    </p>

    <div class="footer-links">
      <a href="#"><i class="fab fa-github footer-icon icon-white"></i></a>
      <a href="#"><i class="fab fa-instagram footer-icon icon-white"></i></a>
      <a href="#"><i class="fab fa-facebook footer-icon icon-white"></i></a>
      <a href="#"><i class="fab fa-twitter footer-icon icon-white"></i></a>
      <a href="#"><i class="fab fa-linkedin footer-icon icon-white"></i></a>
    </div>

  </div>
</div>
