
<%= simple_form_for([university, review],
        data: {
          insert_in_list_target: "form",
          action: "submit->insert-in-list#send"
        }) do |f| %>
  <div>
    <%= f.collection_radio_buttons :reputabilty_rating, [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last %>
    <%= f.label :reputabilty_rating, 'Reputability rating' %>
    <%= f.full_error :reputabilty_rating %>
  </div>

  <br>

  <div>
    <%= f.collection_radio_buttons :education_quality_rating, [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last %>
    <%= f.label :education_quality_rating, 'Education quality rating' %>
    <%= f.full_error :education_quality_rating %>
  </div>

  <br>

  <div>
    <%= f.collection_radio_buttons :campus_facilities_accom_rating, [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last %>
    <%= f.label :campus_facilities_accom_rating, 'Campus facilities and accommodation rating' %>
    <%= f.full_error :campus_facilities_accom_rating %>
  </div>

  <br>

  <div>
    <%= f.collection_radio_buttons :course_difficulty_rating, [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last %>
    <%= f.label :course_difficulty_rating, 'Course difficulty rating' %>
    <%= f.full_error :course_difficulty_rating %>
  </div>

  <br>

  <div>
    <%= f.collection_radio_buttons :social_element_rating, [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last %>
    <%= f.label :social_element_rating, 'Social element rating' %>
    <%= f.full_error :social_element_rating %>
  </div>

  <br>

  <div>
    <%= f.collection_radio_buttons :value_for_money_rating, [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last %>
    <%= f.label :value_for_money_rating, 'Value for money rating' %>
    <%= f.full_error :value_for_money_rating %>
  </div>

  <br>

  <div>
    <%= f.collection_radio_buttons :safety_rating, [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last %>
    <%= f.label :safety_rating, 'Safety rating' %>
    <%= f.full_error :safety_rating %>
  </div>

  <br>

  <div>
    <%= f.collection_radio_buttons :career_services_rating, [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last %>
    <%= f.label :career_services_rating, 'Career services rating' %>
    <%= f.full_error :career_services_rating %>
  </div>

  <br>

  <div class="form-floating mb-3">
    <%= f.input_field :comment, as: :text, class: 'form-control',required: true, style: 'height:8em;', placeholder: "Input your comment" %>
    <%= f.label :comment, 'Comment' %>
    <%= f.full_error :comment %>
  </div>
  <%= f.button :submit, class: "save-btn" %>
<% end %>
