
<%= simple_form_for([university, review],
        data: {
          insert_in_list_target: "form",
          action: "submit->insert-in-list#send",
          controller: "submit"
        }) do |f| %>
  <div class="row">
    <% descsriptive_rating = [["Terrible", 1], ["Poor", 2], ["Neutral", 3], ["Great", 4], ["Fantastic", 5]] %>
    <% general_rating = [["Not at all", 1], ["Sometimes", 2], ["Somewhat", 3], ["Very", 4], ["Absolutely", 5]] %>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div>
        <%= f.label :reputabilty_rating, 'Reputability', class: "fw-bold text-grey" %>
        <p class="text-green">Did you find your school/course reputable?</p>
        <%= f.input :reputabilty_rating, collection: general_rating, label: false, input_html: {data: {controller: "star-rating"}} %>
        <%= f.full_error :reputabilty_rating %>
      </div>

      <br>

      <div>
        <%= f.label :education_quality_rating, 'Education quality', class: "fw-bold text-grey" %>
        <p class="text-green">How would you rate the quality of the education given?</p>
        <%= f.input :education_quality_rating, collection: descsriptive_rating, label: false, input_html: {data: {controller: "star-rating"}} %>
        <%= f.full_error :education_quality_rating %>
      </div>

      <br>

      <div>
        <%= f.label :campus_facilities_accom_rating, 'Campus facilities', class: "fw-bold text-grey" %>
        <p class="text-green">How's the quality of on-campus facilities and accomodation?</p>
        <%= f.input :campus_facilities_accom_rating, collection: descsriptive_rating, label: false, input_html: {data: {controller: "star-rating"}} %>
        <%= f.full_error :campus_facilities_accom_rating %>
      </div>

      <br>

      <div>
        <%= f.label :course_difficulty_rating, 'Course difficulty', class: "fw-bold text-grey" %>
        <p class="text-green">How challenging are the courses you took?</p>
        <%= f.input :course_difficulty_rating, collection: general_rating, label: false, input_html: {data: {controller: "star-rating"}} %>
        <%= f.full_error :course_difficulty_rating %>
      </div>

      <br>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
      <div>
        <%= f.label :social_element_rating, 'Social life', class: "fw-bold text-grey" %>
        <p class="text-green">How did you find the social aspect of the university (e.g. organizations and clubs, sports activities, etc)?</p>
        <%= f.input :social_element_rating, collection: descsriptive_rating, label: false, input_html: {data: {controller: "star-rating"}} %>
        <%= f.full_error :social_element_rating %>
      </div>

      <br>

      <div>
        <%= f.label :value_for_money_rating, 'Value for money', class: "fw-bold text-grey" %>
        <p class="text-green">Do the courses offer good value for money?</p>
        <%= f.input :value_for_money_rating, collection: general_rating, label: false, input_html: {data: {controller: "star-rating"}} %>
        <%= f.full_error :value_for_money_rating %>
      </div>

      <br>

      <div>
        <%= f.label :safety_rating, 'Safety', class: "fw-bold text-grey" %>
        <p class="text-green">Do you feel safe around the campus premises?</p>
        <%= f.input :safety_rating, collection: general_rating, label: false, input_html: {data: {controller: "star-rating"}} %>
        <%= f.full_error :safety_rating %>
      </div>

      <br>

      <div>
        <%= f.label :career_services_rating, 'Career services', class: "fw-bold text-grey" %>
        <p class="text-green">How supportive are the career consultants in helping you to understand your career aspirational and developmental needs?</p>
        <%= f.input :career_services_rating, collection: descsriptive_rating, label: false, input_html: {data: {controller: "star-rating"}} %>
        <%= f.full_error :career_services_rating %>
      </div>

      <br>
    </div>
  </div>
  <div class="form-floating mb-3">
    <%= f.input_field :comment, as: :text, class: 'form-control',required: true, style: 'height:8em;', placeholder: "Input your comment" %>
    <%= f.label :comment, 'Write feedback' %>
    <%= f.full_error :comment %>
  </div>
  <%= f.button :submit, "Submit review", class: "save-btn mt-3", style: "width: 100%;" %>
<% end %>
