<div class="row my-2">
  <div class="col-lg-2 col-md-2 col-sm-2">
    <%= cl_image_tag(review.user.photo_key, class: "avatar") %>
    <div class="">
      <p class="mb-0 review-font"><strong><%= review.user.first_name %> <%= review.user.last_name %></strong></p>
      <div class="card-info-light review-font-small">
        <p class="mb-0"><%= education[0].course %></p>
        <p class=""><%= education[0].start_date.strftime("%h %Y") %> - <%= education[0].end_date.strftime("%h %Y") %></p>
      </div>
    </div>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-10">
    <div class="d-flex justify-content-between mb-3">
      <div>
        <% full_stars = average_review_rating.to_i %>
        <% average_review_rating % 1 > 0 ? half_star = 1 : half_star = 0 %>
        <% empty_stars = 5 - full_stars - half_star %>

        <% full_stars.times do %>
          <i class="fa-solid fa-star star-icon"></i>
        <% end %>
        <% half_star.times do %>
          <i class="fa-solid fa-star-half-stroke star-icon"></i>
        <% end %>
        <% empty_stars.times do %>
          <i class="fa-regular fa-star star-icon"></i>
        <% end %>
      </div>

      <% if current_user == review.user %>
        <%= link_to review_path(review), class: "delete-icon py-0 px-2 mx-2", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      <% end %>
    </div>
    <p><%= review.comment %></p>
    <div class="d-flex justify-content-between"  data-controller="votes" data-votes-university-id-value="<%= review.university.id %>" data-votes-review-id-value="<%= review.id %>">
      <div class="d-flex justify-content-start">
        <div class="me-1">

          <%= link_to "", data: {action: current_user.nil? ? '' : 'click->votes#upvote', bs_toggle: current_user.nil? ? 'modal' : '', bs_target: current_user.nil? ? '#staticBackdrop' : ''} do %>
            <i class="fa-solid fa-thumbs-up <%= review.upvoted?(current_user)? 'upvoted' : 'unvoted' %> " data-votes-target="upvoteIcon"></i>
          <% end %>
        </div>
        <div class="me-3" data-votes-target="totalUpvote">
          <p><%= review.votes.where(status: :upvote).size %></p>
        </div>
        <div class="me-1">
          <%= link_to "", data: {action: current_user.nil? ? '' : 'click->votes#downvote', bs_toggle: current_user.nil? ? 'modal' : '', bs_target: current_user.nil? ? '#staticBackdrop' : ''} do %>
            <i class="fa-solid fa-thumbs-down <%= review.downvoted?(current_user)? 'downvoted' : 'unvoted' %>" data-votes-target="downvoteIcon"></i>
          <% end %>
        </div>
        <div data-votes-target="totalDownvote">
          <p><%= review.votes.where(status: :downvote).size %></p>
        </div>
      </div>
      <p class="posted-text">Posted on <%= review.created_at.localtime.strftime("%d %h %Y, %I:%M %P") %></p>
    </div>
  </div>
</div>
