<div class="card uni-index-card position-relative" >
  <%= link_to university_path(university), class: "home-link" do %>

    <%= image_tag university.logo, class: "logo"%>
    <p><strong><%= university.name  %></strong><br></p>
  <% end %>

  <%= render 'universities/favorite', university: university, favorite_class: "btn btn-link", favorite_style: "top:0;right:0; position:absolute;", page: "universities" %>


  <div>
    <strong><%= university.country %></strong>
  </div>
  <div class="mt-3">(Total Reviews : <%= university.reviews.count %>)</div>
  <div class="limited-text text-justify">
    <%= university.description %>
  </div>
</div>
