<<<<<<< HEAD
<% @universities.each do |university| %>
  <%= university.name  %><br>
  <%= university.reviews.count %> Reviews<br>
  <%# <%= university.description %> %>
<% end %>
=======
<div class="container mt-5">
  <div class="row">
    <% @universities.each do |university| %>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 my-4 px-3">
        <div class="card uni-index-card position-relative" >
          <%= link_to university_path(university), class: "home-link" do %>

            <%= image_tag university.logo, class: "logo"%>
            <p><strong><%= university.name  %></strong><br></p>
          <% end %>

          <div data-controller="favorite">
            <%= render 'universities/favorite', university: university %>
          </div>

          <%= university.reviews.count %> Reviews<br>
          <div class="pt-3">
            <strong><%= university.country %></strong>
          </div>
          <div class="limited-text text-justify">
            <%= university.description %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<<<<<<< HEAD

>>>>>>> 4601a3ef88b907b03999e55e6c21df87c99df987
=======
>>>>>>> bad4f48be6f933a1249ce5276ef97e203bcfeaac
