<div class="container">
  <div class="col-11">
    <div class="title-block">
      <div class="row" >
        <div class="col-xs-7 col-sm-6 col-lg-8">
          <div class="uni-header">
            <div>
              <img class="logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/29/Harvard_shield_wreath.svg/300px-Harvard_shield_wreath.svg.png" width=100%>
            </div>
            <div>
              <div>
                <span style="color:grey"><%= @university.city %> | <%= @university.country %></span><br>
                <span style="font-size:36px"><strong><%= @university.name %></strong></span><br>
                Rating <i data-star="4.1"></i>
                <strong> 4.1 / 5 </strong> based on <%= @university.reviews.length %> Reviews | <i class="fa-solid fa-trophy"></i> Ranked by our users: #<%= @university.ranking %>
              </div>
              <div>
                <button class="accordian-button btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="true" aria-controls="collapse">
                    Description
                </button>
                <button type="button" class="btn btn-secondary">Leave a review</button>
                <button type="button" class="btn btn-secondary">Official Website</button>
                <i id="heart-button" data-controller="add-to-favourite-animation" data-action="click->heart-button#heartAnimation">
                  <span class="far fa-heart"></span>
                  <div class="ring"></div>
                  <div class="ring2"></div>
                  <p class="info">Added to favourites!</p>
                </i>
              </div>
            </div>
            <div>
            </div>
          </div>
        </div>

        <div id="university-img" class="carousel slide col-xs-5 col-sm-6 col-lg-4" data-ride="carousel" data-interval="5000">
          <ol class="carousel-indicators">
            <li data-target="#university-img" data-slide-to="0" class="active"></li>
            <li data-target="#university-img" data-slide-to="1"></li>
            <li data-target="#university-img" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://image.cnbcfm.com/api/v1/image/106604493-1594057373282harvarduniversitysdunsterhouseincambridgema.jpg?v=1594057738&w=740&h=416&ffmt=webp" width="100%" alt="First Photo">
            </div>
            <div class="carousel-item">
              <img src="https://image.cnbcfm.com/api/v1/image/106604493-1594057373282harvarduniversitysdunsterhouseincambridgema.jpg?v=1594057738&w=740&h=416&ffmt=webp" width="100%" alt="Second Photo">
            </div>
            <div class="carousel-item">
              <img src="https://image.cnbcfm.com/api/v1/image/106604493-1594057373282harvarduniversitysdunsterhouseincambridgema.jpg?v=1594057738&w=740&h=416&ffmt=webp" width="100%" alt="Third Photo">
            </div>
          </div>
          <a class="carousel-control-prev" href="#university-img" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#university-img" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="accordion" id="accordion">
        <div class="accordion-item">
          <div id="collapse" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#accordion">
            <div class="accordion-body">
              <p><%= @university.description %></p><br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content" >
      <nav>
        <div class="side-nav-menu">
          <a href="#info-section">Info</a>
          <a href="#departments-section">Departments</a>
          <a href="#map-section">Check it out</a>
          <a href="#reviews-section">Reviews</a>
        </div>
      </nav>

      <div data-spy="scroll" data-target=".side-nav-menu" data-offset="220px" tabindex="0">
        <section class="row">
          <div class="col-4">
            Student Population:<br>
              <i class="fa-sharp fa-solid fa-screen-users"></i><%= @university.student_count %><br><br>
            Average fees for locals:<br>
              <i data-price="3.2"></i> <%= @university.domestic_course_fee %><br><br>
            </i>Average fees for foreigners:<br>
              <i data-price="1.7"></i> <%= @university.international_course_fee %><br><br>
          </div>
          <div id="info-section"
            data-controller="display-circle-ratings"
            class="stats-grid col-8">
            <div>Reputation
              <div class="circle-rating">100%</div>
            </div>
            <div>Education Quality
              <div class="circle-rating">87.5%</div>
            </div>
            <div>Facilities/Accomodation
              <div class="circle-rating">75%</div>
            </div>
            <div>Course Difficulty
              <div class="circle-rating">62.5%</div>
            </div>
            <div>Social elements
              <div class="circle-rating">50%</div>
            </div>
            <div>Value for Money
              <div class="circle-rating">37.5%</div>
            </div>
            <div>Safety
              <div class="circle-rating">25%</div>
            </div>
            <div>Career Services
              <div class="circle-rating">0%</div>
            </div>
          </div>
        </section>

        <section id="departments-section" class="row">
        Check out the departments of <%= @university.name %> below!<br>

          <div id="cardsCarousel" class="carousel" data-controller="cards-carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card">
                  <div class="img-wrapper"><img src="" class="d-block w-100" alt=""> </div>
                  <div class="card-body">
                    <h5 class="dept-card-title">Department of A</h5>
                    <p class="dept-card-text">Some random description</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="" class="d-block w-100" alt=""> </div>
                  <div class="card-body">
                    <h5 class="dept-card-title">Department of B</h5>
                    <p class="dept-card-text">Some random description</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="" class="d-block w-100" alt=""> </div>
                  <div class="card-body">
                    <h5 class="dept-card-title">Department of C</h5>
                    <p class="dept-card-text">Some random description</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <div class="img-wrapper"><img src="" class="d-block w-100" alt=""> </div>
                  <div class="card-body">
                    <h5 class="dept-card-title">Department of D</h5>
                    <p class="dept-card-text">Some random description</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </section>
        <section id="map-section" class="row">
          <div id="map" class="col-9">
            <div class="" style="width: 100%; height: 450px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
          <div class="col-3">
            <strong><%= @university.name %></strong><br><br>
            <% @university.address.split(", ").each do |line|%>
              <%= "#{line}"%><br>
            <% end %>
            <br>
            Enrollment Deadline:<br>
            1 Jan 2023
            <button type="button" class="btn btn-secondary">Book a campus tour</button>
          </div>
        </section>

        <section id="reviews-section" class="row">
        </section>



      </div>


    </div>
  </div>
</div>

<div class="container">
  <hr>

  <div data-controller="insert-in-list" data-insert-in-list-position-value="afterbegin">

    <div class="d-flex justify-content-between">
      <h5><strong>Reviews</strong></h5>
      <div>
        <% @educations.each do |education|  %>
          <% if education.university == @university %>
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="review-link"><strong>Leave a review</strong></a>
            <%= render "review_form" %>
            <% break %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if user_signed_in? %>
      <%= paginate @reviews, remote: true %>
    <% end %>

    <div data-insert-in-list-target="items">
      <% @reviews.each do |review| %>
        <% education = review.user.educations.where(university: @university) %>
        <% average_review_rating = (review.reputabilty_rating + review.education_quality_rating + review.campus_facilities_accom_rating + review.course_difficulty_rating + review.social_element_rating + review.value_for_money_rating + review.safety_rating + review.career_services_rating) / 8.0 %>
        <%= render "universities/review", review: review, education: education, average_review_rating: average_review_rating %>
      <% end %>

      <% if current_user == nil %>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          View more reviews
        </button>
      <% end %>
    </div>
  </div>
</div>
