<div class="container">

  <%= @university.name %> | <%= @university.ranking %><br>
  <%= @university.city %>, <%= @university.country %><br>

  <%= @university.description %><br>
  ----<br>
  <%= @university.address %> | INSERT MAPBOX HERE

  <hr>

  <div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">

    <div class="d-flex justify-content-between">
      <h5><strong>Reviews</strong></h5>
      <div>
        <% @educations.each do |education|  %>
          <% if education.university == @university %>
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="review-link">Leave a review</a>
            <%= render "review_form" %>
            <% break %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div data-insert-in-list-target="items">

      <% @reviews.each do |review| %>
        <% education = review.user.educations.where(university: @university) %>
        <% average_review_rating = (review.reputabilty_rating + review.education_quality_rating + review.campus_facilities_accom_rating + review.course_difficulty_rating + review.social_element_rating + review.value_for_money_rating + review.safety_rating + review.career_services_rating) / 8.0 %>
        <%= render "universities/review", review: review, education: education, average_review_rating: average_review_rating %>
      <% end %>
      <% if current_user == nil %>
        <%= render "signup", resource: @resource %>
        <%# <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">View more reviews</a> %>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> %>
          View more reviews
        </button>

      <% end %>

    </div>

  </div>
</div>
