<div class="container">
  <div class="title-block">
    <div class="row" >
      <div class="col-2">
        <%= image_tag(@university.logo, width: "100%") %>
      </div>

      <div class="col-6">
        <div>
          <i class="fa-solid fa-location-dot"></i>
          <span style="color:grey"><%= @university.city %> | <%= @university.country %></span>
        </div>
        <div class="row">
          <div class="col-10">
            <span id="university-name" style="font-size:36px"><strong><%= @university.name %></strong></span><br>
          </div>
          <div class="col-2" style="margin: auto">
            <i id="heart-button" data-controller="add-to-favourite-animation" data-action="click->add-to-favourite-animation#heartAnimation">
              <span class="fa-solid fa-heart active"></span>
            </i>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            Overall Rating based on <%= @university.reviews.length %> Reviews<br>
            <i class="fa-solid fa-trophy"></i> Ranked Globally: #<%= @university.ranking %><br>
              <i class="fa-solid fa-crown"></i> Uni-Versus Ranking: <strong>#<%= @internal_ranking %></strong><br>
          </div>
          <div class="col-2">
            <div class="circle-rating">
              <%= @university.global_avg.round(3) * 20 %>
            </div>
          </div>
          <div class="col-4">
          </div>
        </div>
        <div class="my-3">
          <button class="accordian-button btn search-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="true" aria-controls="collapse">
              Description
          </button>
          <a class="btn search-btn" href=<%= @university.url %> >Official Website</a>
        </div>
      </div>

      <div id="university-img" class="carousel slide col-4" data-bs-ride="true" data-interval="5000">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag(@university.image, width: "100%") %>
          </div>
          <div class="carousel-item">
            <%= image_tag(@university.image2, width: "100%") %>
          </div>
          <div class="carousel-item">
            <%= image_tag(@university.image3, width: "100%") %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#university-img" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#university-img" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="accordion" id="accordion">
      <div class="accordion-item">
        <div id="collapse" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#accordion">
          <div class="accordion-body">
            <p><%= @university.description %></p><br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-body-container">
    <div class="side-nav-menu">
      <div>
        <nav>
          <a href="#info-section">Info</a>
          <a href="#departments-section">Faculties</a>
          <a href="#map-section">Check it out</a>
          <a href="#reviews-section">Reviews</a>
        </nav>
      </div>
    </div>

    <div class="body-content row">
      <div class="nav-bar-spacer col-2">
      </div>
      <div class="col-10">
        <section>
          <div class="row">
            <div class="col-3">
              Student Population:<br>
                <i class="fa fa-user"></i>  <%= @university.student_count %><br><br>
              Average fees for locals:<br>
                <i data-price="3.2"></i> <%= @university.domestic_course_fee %><br><br></i>
              Average fees for foreigners:<br>
                <i data-price="1.7"></i> <%= @university.international_course_fee %><br><br>
            </div>
            <div id="info-section"
              data-controller="display-circle-ratings"
              class="stats-grid col-9">
              <div class="row">
                <div class="col-3 stats-elements">Reputation</div>
                <div class="col-3 stats-elements">Education Quality</div>
                <div class="col-3 stats-elements">Facilities/<br>Accomodation</div>
                <div class="col-3 stats-elements">Course Difficulty<br></div>
              </div>
              <div class="row">
                <div class="col-3">
                  <div class="circle-rating stats-elements"><%= @university.reputability_avg * 20 %></div>
                </div>
                <div class="col-3">
                  <div class="circle-rating stats-elements"><%= @university.education_quality_avg * 20 %></div>
                </div>
                <div class="col-3">
                  <div class="circle-rating stats-elements"><%= @university.campus_facilities_accom_avg * 20 %></div>
                </div>
                <div class="col-3">
                  <div class="circle-rating stats-elements"><%= @university.course_difficulty_avg * 20 %></div>
                </div>
              </div>
              <div class="row">
                <div class="col-3 stats-elements">Social elements</div>
                <div class="col-3 stats-elements">Value for Money</div>
                <div class="col-3 stats-elements">Safety</div>
                <div class="col-3 stats-elements">Career Services</div>
              </div>
              <div class="row">
                <div class="col-3">
                  <div class="circle-rating stats-elements "><%= @university.social_element_avg * 20 %></div>
                </div>
                <div class="col-3">
                  <div class="circle-rating stats-elements"><%= @university.value_for_money_avg * 20 %></div>
                </div>
                <div class="col-3">
                  <div class="circle-rating stats-elements"><%= @university.safety_avg * 20 %></div>
                </div>
                <div class="col-3">
                  <div class="circle-rating stats-elements"><%= @university.career_services_avg * 20 %></div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr>

        <section id="departments-section" class="row">
          <div class="container my-3">
            <div class="row">
              <div class="col-10">
                <h5 class="mb-3">Check out the Faculties of <%= @university.name %> below!<br> </h5>
              </div>
              <div id="departmentCarouselIndicators" class="carousel slide carousel-dark text-center mb-4" data-bs-ride="carousel" style="height: 500px;">
               <div class="d-flex justify-content-center">
                <button class="carousel-control-prev" type="button"
                  data-bs-target="#departmentCarouselIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                  data-bs-target="#departmentCarouselIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="carousel-inner py-4">
                <div class="carousel-item active">
                  <div class="container">
                    <div class="row">
                      <% @departments.each_with_index do |department, i| %>
                        <% break if i == 3 %>

                        <div class="col-lg-4">
                          <%= render "department", department: department %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <% ((@departments.count - 3) / 3.to_f).ceil.times do %>
                  <div class="carousel-item">
                    <div class="container">
                      <div class="row">
                        <% @departments = @departments.drop(3) %>
                        <% @departments.each_with_index do |department, i| %>
                          <% break if i == 3 %>
                          <div class="col-lg-4">
                            <%= render "department", department: department %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>

          </div>
        </section>

        <hr>

        <section id="map-section" class="row">
          <div id="map" class="col-9">
            <div class="" style="width: 100%; height: 450px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>

          <div class="col-3">
            <strong><%= @university.name %></strong><br><br>
            <span id="university.address"><% @university.address.split(", ").each do |line|%>
              <%= "#{line}"%><br>
            <% end %>
            </span>
            <br>Enrollment Deadline:<br>
            <span id="create-invite"><%= @university.application_deadline %></span>
            <button type="button"
            data-controller="calendar"
            name-value="<%= @university.name.to_json %>"
            deadline-value="<%= @university.application_deadline.to_json %>"
            address-value="<%= @university.address.to_json %>"
            data-action="click->calendar#createInvite"
            class="btn btn-secondary">Book a campus tour</button>
          </div>
        </section>


        <section id="reviews-section" class="row mt-5">
          <div data-controller="insert-in-list" data-insert-in-list-position-value="afterbegin">
            <div style="height: 6vh;" id="review-top">

            </div>
            <div class="d-flex justify-content-between">

              <h5 class="mb-5"><strong>Reviews</strong></h5>
              <div>
                <% if @can_review %>
                  <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="review-link"><strong>Leave a review</strong></a>
                  <%= render "review_form" %>
                <% else %>
                  <span id="btn-tooltip" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Add your education record in your profile to leave a review!">
                    <a href="" class="review-link disabled-link"><strong>Leave a review</strong></a>
                  </span>
                <% end %>
                <%# <span id="btn-tooltip" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Hello tooltip">
                  <button class="btn btn-primary" type="button" disabled>Disabled button</button>
                </span> %>
              </div>
            </div>


            <div>
              <div data-insert-in-list-target="items">

              </div>

            </div>
          </div>
        </section>
      </div>
    </div>

    <br>

  </div>
  <hr>
  <h5 class="ms-4 mt-5 text-grey"><strong> YOU MAY ALSO VISIT </strong></h5>
  <div id="carouselMultiItemExample" class="carousel slide carousel-dark mb-4" data-bs-ride="carousel" style="height: 500px;">
    <div class="d-flex justify-content-center">
      <button class="carousel-control-prev" type="button"
        data-bs-target="#carouselMultiItemExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button"
        data-bs-target="#carouselMultiItemExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="carousel-inner py-4">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <% @similar_universities.each_with_index do |university, i| %>
              <% break if i == 3 %>

              <div class="col-lg-4">
                <%= render 'university',  university: university%>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <% ((@similar_universities.count - 3) / 3.to_f).ceil.times do %>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <% @similar_universities = @similar_universities.drop(3) %>
              <% @similar_universities.each_with_index do |university, i| %>
                <% break if i == 3 %>
                <div class="col-lg-4">
                  <%= render 'university',  university: university%>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
