<div class="container">

  <%= @university.name %> | <%= @university.ranking %><br>
  <%= @university.city %>, <%= @university.country %><br>

  <%= @university.description %><br>
  ----<br>
  <%= @university.address %> | INSERT MAPBOX HERE

  <hr>
  <h5><strong>Reviews</strong></h5>
</div>
